@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: #FFF;
    --cor2: #FAEFD3;
    --cor3: #F9FCAD;
    --cor4: #BE8500;
    --cor5: #FF9BAD;
    --cor6: #360504;
    --cor7: #1F271B;
    --cor8: #000000;
}

body {
    background-color: var(--cor6);
    font-family: 'Fira Sans', sans-serif;
    color: var(--cor4);
}

nav {
    width: 100vw;
    height: 120px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.logo-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#logo {
    width: 170px;
    height: 170px;
}

main {
    width: 70%;
    height: 80vh;
    padding: 30px 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    text-align: center;
    background-color: var(--cor2);
    border: 10px solid var(--cor6);
    border-radius: 20px;
}

section#login,
section#cadastro {
    width: 50%;
}

h1 {
    margin-bottom: 20px;
}

span.material-symbols-outlined {
    margin-top: 5px;
}

input.entrar {
    height: 40px;
    width: 80%;
    margin-bottom: 5px;
    background-color: var(--cor6);
    color: var(--cor4);
    border-radius: 5px;
    border: none;
}

input.entrar::placeholder {
    color: #be8500b8;
    font-style: italic;
    padding-left: 15px;
}

div.campo {
    width: 100%;
}

div.campo > label {
    display: none;
}