@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: #FFF;
    --cor2: #FAEFD3;
    --cor3: #F9FCAD;
    --cor4: #BE8500;
    --cor5: #FF9BAD;
    --cor6: #360504;
    --cor7: #1F271B;
    --cor8: #000000;
}

nav {
    width: 100vw;
    height: 90px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

img#logo {
    padding-left: 30px;
    width: 100px;
    height: 100px;
}


div.pag-nav{
    padding-left: 200px;
}

li.pag-store {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    font-size: 18px;
    padding-right: 50px;
    text-transform: uppercase;
}

a.item-nav {
    font-size: 1.3em;
    font-family: 'Fira Sans', sans-serif;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--cor4);
    justify-content: space-between;
}

a.item-nav:hover,
 .item-nav:visited {
    padding: 7px;
    background-color: var(--cor7);
    text-decoration: underline;
    border-radius: 7px;
    transition: 0.4s;
}